/* ! Start Box Model Classes */
.d-flex {
  display: flex;
}
.juc-between {
  justify-content: space-between;
}
.align-c {
  align-items: center;
}
.gap-20 {
  gap: 20px;
}
/* ? End Box Model Classes */

/* ! start Colors */
.bg-white {
  background-color: var(--white-color);
}

.c-black {
  color: var(--main-text-color);
}
/* ? End Colors */
/* ! Start fonts */
.fs-14 {
  font-size: 14px;
}
.txt-c {
  text-align: center;
}
.txt-cap {
  text-transform: capitalize;
}
/* ? End fonts */
/* ! Start Margin + padding */
.p-20 {
  padding: 20px;
}

.m-20 {
  margin: 20px;
}
.p-15 {
  padding: 15px;
}

.w-full {
  width: 100%;
}

/* ? End  Margin + padding */
/* ! Start Position */
.p-relative {
  position: relative;
}
/* ? End Position */
/* ! Start Border */
.rad-6 {
  border-radius: 6px;
}
.rad-half {
  border-radius: 50%;
}
/* ? End Border */

/* ! @media */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
}
