/* ! Start Global Variables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --white-color: #fff;
  --main-transition: 0.3s;
  --main-text-color: #000;
}
/* ? End Global Variables  */
/* ! Start Components */
.btn-shape {
  padding: 5px 15px;
  border-radius: 6px;
  font-size: 14px;
  transition: var(--main-transition);
}
.stat {
  width: fit-content;
  height: fit-content;
  padding: 5px 10px;
  border-radius: 6px;
  font-size: 14px;
  transition: var(--main-transition);
}
/* ? EndComponents 🥷 */
/* ! Start Box Model Classes */
.d-flex {
  display: flex;
}
.d-block {
  display: block;
}
.d-grid {
  display: grid;
}
.flex-col {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.juc-between {
  justify-content: space-between;
}
.align-c {
  align-items: center;
}
.gap-20 {
  gap: 20px;
}
.gap-10 {
  gap: 10px;
}
.gap-5 {
  gap: 5px;
}
/* ? End Box Model Classes */
/* ! Start Margin + padding */
/*  sort m-mt-mr-mb-ml */
.m-20 {
  margin: 20px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-5 {
  margin-top: 5px;
}
.mt-15 {
  margin-top: 15px;
}
.mr-5{
  margin-right: 5px;
}
.mr-10{
  margin-right: 10px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mb-15 {
  margin-bottom: 15px;
}
.mb-5 {
  margin-bottom: 5px;
}

.mb-10 {
  margin-bottom: 10px;
}

.ml-5{
  margin-left: 5px;
}
.ml-10 {
  margin-left: 10px;
}
.ml-15 {
  margin-left: 15px;
}

.ml-20 {
  margin-left: -20px;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.p-15 {
  padding: 15px;
}
.pt-20 {
  padding-top: 20px;
}
.pt-15 {
  padding-top: 15px;
}
.pt-10 {
  padding-top: 10px;
}
.pr-15 {
  padding-right: 15px;
}
.pr-10{
  padding-right: 10px;
}
.pb-20 {
  padding-bottom: 20px;
}
.pb-15 {
  padding-bottom: 15px;
}
.pb-10 {
  padding-bottom: 10px;
}
.pl-15 {
  padding-left: 15px;
}
.pl-20 {
  padding-left: 20px;
}
.pl-10 {
  padding-left: 10px;
}
/* ? End  Margin + padding */

/* ! start Colors */
.bg-white {
  background-color: var(--white-color);
}
.bg-eee {
  background-color: #eee;
}
.bg-blue {
  background-color: var(--blue-color);
}
.bg-orange {
  background-color: var(--orange-color);
}
.bg-red {
  background-color: var(--red-color);
}
.bg-green {
  background-color: var(--green-color);
}
.bg-grey{
  background-color: var(--grey-color);
}

.c-white {
  color: var(--white-color);
}

.c-black {
  color: var(--main-text-color);
}
.c-grey {
  color: var(--grey-color);
}
.c-orange {
  color: var(--orange-color);
}
.c-blue {
  color: var(--blue-color);
}
.c-green {
  color: var(--green-color);
}
.c-red {
  color: var(--red-color);
}

/* ? End Colors */
/* ! Start fonts */
.fs-13 {
  font-size: 13px;
}
.fs-14 {
  font-size: 14px;
}
.fs-16 {
  font-size: 16px;
}
.fs-18 {
  font-size: 18px;
}
.fs-20 {
  font-size: 20px;
}
.txt-c {
  text-align: center;
}
.txt-cap {
  text-transform: capitalize;
}
.w-bold {
  font-weight: bold;
}
.w-light-bold {
  font-weight: 600;
}
.w-lighter-bold {
  font-weight: 500;
}
/* ? End fonts */

.w-full {
  width: 100%;
}
.w-fit {
  width: fit-content;
}

/* ! Start Position */
.p-relative {
  position: relative;
}
/* ? End Position */
/* ! Start Border */
.rad-6 {
  border-radius: 6px;
}
.rad-10 {
  border-radius: 10px;
}
.rad-half {
  border-radius: 50%;
}
.b-none {
  border: none;
}
/* ? End Border */

/* ! @media */
@media (max-width: 767px) {
  .hide-mobile {
    display: none;
  }
  .txt-c-mobile {
    text-align: center;
  }
  .d-block-mobile {
    display: block;
  }
  .flex-dir-col-mobile {
    flex-direction: column;
  }
  .mt-10-mobile {
    margin-top: 10px;
  }
  .mt-20-mobile{
    margin-top: 20px;
  }
}
