@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*! Start Global Rules */
body {
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
::-webkit-scrollbar-track {
  background-color: var(--white-color);
}
/*? End Global Rules */
/* ! Start Global Variables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --white-color: #fff;
  --main-transition: 0.3s;
  --main-text-color: #000;
}
/* ? End Global Variables */
/* ! Start Components */
/* ? End Components */
/* ! Start Page*/
.page {
  min-height: 100vh;
}
/* ? End Page */
/* ! Start Aside */
aside {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
@media (max-width: 767px) {
  aside.sidebar {
    padding: 10px;
    text-align: center;
    width: 58px;
  }
}
aside .special-heading {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
aside .special-heading::before {
  content: "";
  width: 75px;
  height: 2px;
  position: absolute;
  background-color: var(--main-text-color);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
aside .special-heading::after {
  --dis: 12px;
  content: "";
  width: var(--dis);
  height: var(--dis);
  border-radius: 50%;
  position: absolute;
  bottom: -29px;
  transform: translateX(-50%);
  border: 4px solid #fff;
  left: 50%;
  background-color: var(--main-text-color);
}
@media (max-width: 767px) {
  aside .special-heading::after,
  aside .special-heading::before {
    display: none;
  }
  aside .special-heading {
    font-size: 13px;
    margin-bottom: 15px;
  }
}
aside > ul li a {
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 6px;
  transition: var(--main-transition);
}
aside > ul li a i {
  color: var(--main-text-color);
}
aside > ul li a span {
  text-transform: capitalize;
  margin-left: 10px;
}

aside > ul li a:hover,
.cur-page {
  background-color: #f6f6f6;
}
/* ? End Aside */
/* !Start Content */
.content {
  background-color: #333;
  overflow: hidden;
}
/* ! Start Navbar */
.content nav .search input[type="search"] {
  width: 160px;
  height: 40px;
  margin-left: 5px;
  padding-left: 30px; /*for icon*/

  border: none;
  border: 1px solid #cccccc;
  overflow: hidden;
  transition: var(--main-transition);
}
.content nav .search > i {
  color: #888888;
  position: absolute;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  font-weight: bolder;
}
.content nav .search input[type="search"]:focus {
  width: 200px;
}
.content nav .search input[type="search"]:focus::placeholder {
  color: transparent;
}

.content nav .rhs .bell::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  --sz: 10px;
  width: var(--sz);
  height: var(--sz);
  border-radius: 50%;
  background-color: #f44336;
}
.content nav .rhs img {
  --sz: 40px;
  width: var(--sz);
  height: var(--sz);
}
/* ? End Navbar */
.content {
  background-color: #f1f5f9;
}
.content > .main-title {
  font-weight: 600;
}
.content > .main-title::after {
  content: "";
  position: absolute;
  width: 117px;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--main-text-color),
    var(--main-text-color) 35%,
    #fff 20%
  );
  bottom: 0;
  left: 21px;
}
/* ! Start Grid */
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
/* !Start Welcome Widget */

.wrapper .box-content > img {
  --sz: 64px;
  width: var(--sz);
  height: var(--sz);
  border: 4px solid var(--white-color);

  position: absolute;
  top: -32px;
  left: 20px;
}
@media (max-width: 768px) {
  .wrapper .box-content > img {
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.wrapper .welcome .openning > img {
  width: 200px;
}
.wrapper .welcome .table {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.wrapper .welcome .table > div {
  flex: 1;
}

/* * [Mistake-1] I've Used before and after to make border 😅 😅 😅 */
/* .wrapper .welcome .table::before,
.wrapper .welcome .table::after{
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #eeeeee;
  left: 0;
} */
/* .wrapper .welcome .table::before{top: 0;}
.wrapper .welcome .table::after{bottom: 0;} */
@media (max-width: 767px) {
  .wrapper .welcome .table > div:not(:last-child) {
    margin-bottom: 20px;
  }
  .wrapper .welcome {
    padding-bottom: 20px;
  }
}

.wrapper .welcome .profile-link {
  align-self: self-end;
  text-align: end;
  /* width: fit-content; */
  margin-right: 20px;
  background-color: var(--blue-color);
  color: var(--white-color);
}
.wrapper .welcome .profile-link:hover {
  background-color: var(--blue-alt-color);
}
/* ?End Welcome Widget */
/* !Start Quick Draft */
.quick-draft > form textarea {
  min-height: 180px;
}
.quick-draft > form + a {
  margin-left: auto;
}
.quick-draft > form + a:hover {
  background-color: var(--blue-alt-color);
}
/* ?End Quick Draft */
/* ! Start Yearly targets */

.yearly-target .targets .target .icon {
  width: 80px;
  height: 80px;
  background-color: var(--bg-color);
  color: var(--c-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yearly-target .targets .target-content {
  flex: 1;
}

.yearly-target .targets .target-content p:last-of-type {
  font-weight: bold;
  font-size: 18px;
}
.yearly-target .targets .target-content .progress {
  background-image: linear-gradient(
    to right,
    var(--c-color),
    var(--c-color) var(--width),
    var(--bg-color) var(--width)
  );
  width: 100%;
  height: 5px;
  margin-top: 10px;
  position: relative;
}
.yearly-target .targets .target-content .progress::before {
  content: attr(data-progress);
  position: absolute;
  top: -34px;
  left: calc(var(--width));
  transform: translateX(-50%);
  background: var(--c-color);
  color: var(--white-color);
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 14px;
}

.yearly-target .targets .target-content .progress::after {
  content: "";
  /* background-color: var(--c-color); */
  position: absolute;
  top: -12px;
  left: calc(var(--width) - 0px);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: var(--c-color);
}
/* ? End Yearly targets */
/* ! Start Tickets Statistics */

.ticket-statistics .tickets .ticket {
  width: calc(50% - 20px);
  border: 1px solid #ccc;
}
.ticket-statistics .ticket > i {
  font-size: 27px;
}
.ticket-statistics .ticket > h2 {
  font-size: 27px;
  font-weight: 600;
}
.ticket-statistics .ticket > p {
  font-size: 16px;
}
@media (max-width: 767px) {
  .ticket-statistics .tickets .ticket {
    width: 100%;
  }
}
/* ? EndTickets Statistics */
/* ! Start latest news */

.latest-news .news .single-news {
  align-items: center;
}
.latest-news .news .single-news:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}

.latest-news .single-news .details > img {
  width: 100px;
  height: 50px;
  border-radius: 6px;
}
.latest-news .single-news .date {
  font-size: 13px;
}
/* ? End latest news */
/* ! Start Latest tasks */

.latest-tasks .task {
  padding-top: 10px;
  padding-bottom: 10px;
}
.latest-tasks .task:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.latest-tasks .task.done h3,
.latest-tasks .task.done p {
  text-decoration: line-through;
  color: var(--grey-color);
}
.latest-tasks .task.done i {
  color: var(--grey-color);
}
/* ? End Latest tasks */
/* ! Start Latest Uploads */
/* *I've copied latest news section because it's the same style, but there small differences */

.latest-uploads .single-news {
  padding-bottom: 10px;
  padding-top: 0;
  margin-bottom: 10px;
}
.latest-uploads .single-news .details {
  gap: 10px;
}
.latest-uploads .single-news .details > img {
  width: 40px;
}
.latest-uploads .single-news .details .text > p:first-of-type {
  font-weight: 600;
  font-size: 18px;
}
.latest-uploads.single-news .date {
  font-weight: 600;
}
/* ? End Latest Uploads */
/* ! Start Latest Projects */

.latest-projects .projects {
  padding-left: 26px;
  margin-left: 22px px;
  border-left: 2px solid var(--blue-color);
}
.latest-projects .projects .project {
  position: relative;
  margin-bottom: 30px;
}
.latest-projects .projects .project::before {
  content: "";
  position: absolute;
  --sz: 18px;
  width: var(--sz);
  height: var(--sz);
  border-radius: 50%;
  top: 3px;
  left: -35px;

  z-index: 1;
}
.latest-projects .projects .project.done::before {
  background-color: var(--blue-color);
}
.latest-projects .projects .project.current::before {
  animation: oc 1.5s ease-in-out infinite;
}
@keyframes oc {
  0%,
  100% {
    background-color: transparent;
  }
  75% {
    background-color: var(--blue-color);
  }
}
.latest-projects .projects .project::after {
  content: "";
  position: absolute;
  --sz: 18px;
  width: var(--sz);
  height: var(--sz);
  border-radius: 50%;
  top: 1px;
  left: calc(0px - 26px - (var(--sz) / 2 + 2px));
  background-color: var(--white-color);
  border: 2px solid var(--blue-color);
  transform: scale(1.2);
}
.latest-projects .details > img {
  width: 160px;
  align-self: end;
  filter: opacity(0.1);
  position: absolute;
  bottom: -23px;
  right: -25px;
}
/* ? End Latest Projects */
/* ! Start Reminders */

.reminders > ul li {
  border-left: 2px solid var(--bg-color);
}
.reminders > ul li::before {
  content: "";
  --sz: 15px;
  width: var(--sz);
  height: var(--sz);
  background-color: var(--bg-color);
  position: absolute;
  border-radius: 50%;
  top: calc(50% - var(--sz) / 2);
  left: -32px;
}

/* ? End Reminders */
/* ! Start  Latest Posts*/

.latest-posts .person {
  border-bottom: 1px solid #eee;
}
.latest-posts .person > img {
  width: 48px;
  height: 48px;
}

.latest-posts > p {
  line-height: 1.5;
  padding-bottom: 69px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
/* ? End  Latest Posts*/
/* ! Start Social media status */

.social-media ul li {
  padding-right: 10px;
  background-color: var(--c-color);
}

.social-media ul li .app .icon {
  background: var(--bg-color);
  color: var(--white-color);
  font-size: 15px;
  /* padding: 10px; */
  width: 54px;
  height: 60px;
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  margin-right: 18px;
  transition: var(--main-transition);
}
.social-media ul li .app .icon:hover {
  transform: rotate(5deg);
}
.social-media ul li .app .icon i {
  transition: var(--main-transition);
}
.social-media ul li .app .icon:hover i {
  transform: translateX(3px);
  transition-delay: 0.3s;
}
.social-media ul li .app span {
  color: var(--bg-color);
  font-size: 16px;
  text-transform: capitalize;
}
.social-media ul li .cmnd {
  color: var(--white-color);
  background-color: var(--bg-color);
}
/* ? End Social media status */
/* ! Start Project table */

.table-holder {
  overflow-x: auto;
  width: 100%;
}
.projects-table table {
  min-width: 1000px;
  width: 100%;
  background-color: #eee;
  border-spacing: 1px;
}

.projects-table table thead td {
  padding: 15px;
}
.projects-table table tbody tr {
  transition: var(--main-transition);
}
.projects-table table tbody tr:hover {
  background-color: #faf7f7;
}
.projects-table table tbody td {
  padding: 20px;
  font-weight: 600;
}
.projects-table table tbody td.team {
  display: flex;
  align-items: center;
  /* position: relative;
  width: 120px; */
}
.projects-table table tbody td.team > img {
  /* position: absolute; */
  width: 35px;
  height: 35px;
  /* top: 50%; */
  border: 2px solid var(--white-color);
  border-radius: 50%;
}

.projects-table table tbody td.team > img:not(:first-of-type) {
  margin-left: -15px;
}
/* ? End Project table */
/* ? End Dashboard Page************************************************* */
/* ! Start Courses Page */
/* ! Start Course Wrapper */
.course-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.course-wrapper li .img-holder {
  margin-bottom: 20px;
}
.course-wrapper .img-holder > img:first-of-type {
  width: 100%;
}
.course-wrapper .img-holder > img:last-of-type {
  width: 64px;
  height: 64px;
  border: 2px solid var(--white-color);
  position: absolute;
  top: 20px;
  left: 20px;
}

.course-wrapper li > p {
  line-height: 1.5;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.course-wrapper li .likes {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding: 15px;
}
.course-wrapper li .likes span:nth-of-type(1) {
  font-size: 14px;
}
.course-wrapper li .likes span:nth-of-type(2) {
  font-size: 14px;
}
.course-wrapper li .likes span:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ? EndCourse Wrapper */
