@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*! Start Global Rules */
body {
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
::-webkit-scrollbar-track {
  background-color: var(--white-color);
}
/*? End Global Rules */
/* ! Start Global Variables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --white-color: #fff;
  --main-transition: 0.3s;
  --main-text-color: #000;
}
/* ? End Global Variables */
/* ! Start Components */
/* ? End Components */
/* ! Start Page*/
.page {
  min-height: 100vh;
}
/* ? End Page */
/* ! Start Aside */
aside {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
@media (max-width: 767px) {
  aside.sidebar {
    padding: 10px;
    text-align: center;
    width: 58px;
  }
}
aside .special-heading {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
aside .special-heading::before {
  content: "";
  width: 75px;
  height: 2px;
  position: absolute;
  background-color: var(--main-text-color);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
aside .special-heading::after {
  --dis: 12px;
  content: "";
  width: var(--dis);
  height: var(--dis);
  border-radius: 50%;
  position: absolute;
  bottom: -29px;
  transform: translateX(-50%);
  border: 4px solid #fff;
  left: 50%;
  background-color: var(--main-text-color);
}
@media (max-width: 767px) {
  aside .special-heading::after,
  aside .special-heading::before {
    display: none;
  }
  aside .special-heading {
    font-size: 13px;
    margin-bottom: 15px;
  }
}
aside > ul li a {
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 6px;
  transition: var(--main-transition);
}
aside > ul li a i {
  color: var(--main-text-color);
}
aside > ul li a span {
  text-transform: capitalize;
  margin-left: 10px;
}

aside > ul li a:hover,
.cur-page {
  background-color: #f6f6f6;
}
/* ? End Aside */
/* !Start Content */
.content {
  background-color: #333;
  overflow: hidden;
}
/* ! Start Navbar */
.content nav .search input[type="search"] {
  width: 160px;
  height: 40px;
  margin-left: 5px;
  padding-left: 30px; /*for icon*/

  border: none;
  border: 1px solid #cccccc;
  overflow: hidden;
  transition: var(--main-transition);
}
.content nav .search > i {
  color: #888888;
  position: absolute;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  font-weight: bolder;
}
.content nav .search input[type="search"]:focus {
  width: 200px;
}
.content nav .search input[type="search"]:focus::placeholder {
  color: transparent;
}

.content nav .rhs .bell::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  --sz: 10px;
  width: var(--sz);
  height: var(--sz);
  border-radius: 50%;
  background-color: #f44336;
}
.content nav .rhs img {
  --sz: 40px;
  width: var(--sz);
  height: var(--sz);
}
/* ? End Navbar */
.content {
  background-color: #f1f5f9;
}
.content > .main-title {
  font-weight: 600;
}
.content > .main-title::after {
  content: "";
  position: absolute;
  width: 117px;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--main-text-color),
    var(--main-text-color) 35%,
    #fff 20%
  );
  bottom: 0;
  left: 21px;
}
/* ! Start Grid */
.wrapper,
.projects-wrapper,
.plan-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
/* !Start Welcome Widget */

.wrapper .box-content > img {
  --sz: 64px;
  width: var(--sz);
  height: var(--sz);
  border: 4px solid var(--white-color);

  position: absolute;
  top: -32px;
  left: 20px;
}
@media (max-width: 768px) {
  .wrapper .box-content > img {
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.wrapper .welcome .openning > img {
  width: 200px;
}
.wrapper .welcome .table {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.wrapper .welcome .table > div {
  flex: 1;
}

/* * [Mistake-1] I've Used before and after to make border 😅 😅 😅 */
/* .wrapper .welcome .table::before,
.wrapper .welcome .table::after{
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #eeeeee;
  left: 0;
} */
/* .wrapper .welcome .table::before{top: 0;}
.wrapper .welcome .table::after{bottom: 0;} */
@media (max-width: 767px) {
  .wrapper .welcome .table > div:not(:last-child) {
    margin-bottom: 20px;
  }
  .wrapper .welcome {
    padding-bottom: 20px;
  }
}

.wrapper .welcome .profile-link {
  align-self: self-end;
  text-align: end;
  /* width: fit-content; */
  margin-right: 20px;
  background-color: var(--blue-color);
  color: var(--white-color);
}
.wrapper .welcome .profile-link:hover {
  background-color: var(--blue-alt-color);
}
/* ?End Welcome Widget */
/* !Start Quick Draft */
.quick-draft > form textarea {
  min-height: 180px;
}
.quick-draft > form + a {
  margin-left: auto;
}
.quick-draft > form + a:hover {
  background-color: var(--blue-alt-color);
}
/* ?End Quick Draft */
/* ! Start Yearly targets */

.yearly-target .targets .target .icon {
  width: 80px;
  height: 80px;
  background-color: var(--bg-color);
  color: var(--c-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yearly-target .targets .target-content {
  flex: 1;
}

.yearly-target .targets .target-content p:last-of-type {
  font-weight: bold;
  font-size: 18px;
}
.yearly-target .targets .target-content .progress {
  background-image: linear-gradient(
    to right,
    var(--c-color),
    var(--c-color) var(--width),
    var(--bg-color) var(--width)
  );
  width: 100%;
  height: 5px;
  margin-top: 10px;
  position: relative;
}
.yearly-target .targets .target-content .progress::before {
  content: attr(data-progress);
  position: absolute;
  top: -34px;
  left: calc(var(--width));
  transform: translateX(-50%);
  background: var(--c-color);
  color: var(--white-color);
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 14px;
}

.yearly-target .targets .target-content .progress::after {
  content: "";
  /* background-color: var(--c-color); */
  position: absolute;
  top: -12px;
  left: calc(var(--width) - 0px);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: var(--c-color);
}
/* ? End Yearly targets */
/* ! Start Tickets Statistics */

.ticket-statistics .tickets .ticket {
  width: calc(50% - 20px);
  border: 1px solid #ccc;
}
.ticket-statistics .ticket > i {
  font-size: 27px;
}
.ticket-statistics .ticket > h2 {
  font-size: 27px;
  font-weight: 600;
}
.ticket-statistics .ticket > p {
  font-size: 16px;
}
@media (max-width: 767px) {
  .ticket-statistics .tickets .ticket {
    width: 100%;
  }
}
/* ? EndTickets Statistics */
/* ! Start latest news */

.latest-news .news .single-news {
  align-items: center;
}
.latest-news .news .single-news:not(:last-child) {
  border-bottom: 1px solid #eeeeee;
}

.latest-news .single-news .details > img {
  width: 100px;
  height: 50px;
  border-radius: 6px;
}
.latest-news .single-news .date {
  font-size: 13px;
}
/* ? End latest news */
/* ! Start Latest tasks */

.latest-tasks .task {
  padding-top: 10px;
  padding-bottom: 10px;
}
.latest-tasks .task:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.latest-tasks .task.done h3,
.latest-tasks .task.done p {
  text-decoration: line-through;
  color: var(--grey-color);
}
.latest-tasks .task.done i {
  color: var(--grey-color);
}
/* ? End Latest tasks */
/* ! Start Latest Uploads */
/* *I've copied latest news section because it's the same style, but there small differences */

.latest-uploads .single-news {
  padding-bottom: 10px;
  padding-top: 0;
  margin-bottom: 10px;
}
.latest-uploads .single-news .details {
  gap: 10px;
}
.latest-uploads .single-news .details > img {
  width: 40px;
}
.latest-uploads .single-news .details .text > p:first-of-type {
  font-weight: 600;
  font-size: 18px;
}
.latest-uploads.single-news .date {
  font-weight: 600;
}
/* ? End Latest Uploads */
/* ! Start Latest Projects */

.latest-projects .projects {
  padding-left: 26px;
  margin-left: 22px px;
  border-left: 2px solid var(--blue-color);
}
.latest-projects .projects .project {
  position: relative;
  margin-bottom: 30px;
}
.latest-projects .projects .project::before {
  content: "";
  position: absolute;
  --sz: 18px;
  width: var(--sz);
  height: var(--sz);
  border-radius: 50%;
  top: 3px;
  left: -35px;

  z-index: 1;
}
.latest-projects .projects .project.done::before {
  background-color: var(--blue-color);
}
.latest-projects .projects .project.current::before {
  animation: oc 1.5s ease-in-out infinite;
}
@keyframes oc {
  0%,
  100% {
    background-color: transparent;
  }
  75% {
    background-color: var(--blue-color);
  }
}
.latest-projects .projects .project::after {
  content: "";
  position: absolute;
  --sz: 18px;
  width: var(--sz);
  height: var(--sz);
  border-radius: 50%;
  top: 1px;
  left: calc(0px - 26px - (var(--sz) / 2 + 2px));
  background-color: var(--white-color);
  border: 2px solid var(--blue-color);
  transform: scale(1.2);
}
.latest-projects .details > img {
  width: 160px;
  align-self: end;
  filter: opacity(0.1);
  position: absolute;
  bottom: -23px;
  right: -25px;
}
/* ? End Latest Projects */
/* ! Start Reminders */

.reminders > ul li {
  border-left: 2px solid var(--bg-color);
}
.reminders > ul li::before {
  content: "";
  --sz: 15px;
  width: var(--sz);
  height: var(--sz);
  background-color: var(--bg-color);
  position: absolute;
  border-radius: 50%;
  top: calc(50% - var(--sz) / 2);
  left: -32px;
}

/* ? End Reminders */
/* ! Start  Latest Posts*/

.latest-posts .person {
  border-bottom: 1px solid #eee;
}
.latest-posts .person > img {
  width: 48px;
  height: 48px;
}

.latest-posts > p {
  line-height: 1.5;
  padding-bottom: 69px;
  border-bottom: 1px solid #eee;
  margin-bottom: 20px;
}
/* ? End  Latest Posts*/
/* ! Start Social media status */

.social-media ul li {
  padding-right: 10px;
  background-color: var(--c-color);
}

.social-media ul li .app .icon {
  background: var(--bg-color);
  color: var(--white-color);
  font-size: 15px;
  /* padding: 10px; */
  width: 54px;
  height: 60px;
  display: flex;
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  margin-right: 18px;
  transition: var(--main-transition);
}
.social-media ul li .app .icon:hover {
  transform: rotate(5deg);
}
.social-media ul li .app .icon i {
  transition: var(--main-transition);
}
.social-media ul li .app .icon:hover i {
  transform: translateX(3px);
  transition-delay: 0.3s;
}
.social-media ul li .app span {
  color: var(--bg-color);
  font-size: 16px;
  text-transform: capitalize;
}
.social-media ul li .cmnd {
  color: var(--white-color);
  background-color: var(--bg-color);
}
/* ? End Social media status */
/* ! Start Project table */

.table-holder {
  overflow-x: auto;
  width: 100%;
}
.projects-table table {
  min-width: 1000px;
  width: 100%;
  background-color: #eee;
  border-spacing: 1px;
}

.projects-table table thead td {
  padding: 15px;
}
.projects-table table tbody tr {
  transition: var(--main-transition);
}
.projects-table table tbody tr:hover {
  background-color: #faf7f7;
}
.projects-table table tbody td {
  padding: 20px;
  font-weight: 600;
}
.projects-table table tbody td.team {
  display: flex;
  align-items: center;
  /* position: relative;
  width: 120px; */
}
.projects-table table tbody td.team > img {
  /* position: absolute; */
  width: 35px;
  height: 35px;
  /* top: 50%; */
  border: 2px solid var(--white-color);
  border-radius: 50%;
}

.projects-table table tbody td.team > img:not(:first-of-type) {
  margin-left: -15px;
}
/* ? End Project table */
/* ? End Dashboard Page************************************************* */
/* ! Start Courses Page */
/* ! Start Course Wrapper */
.course-wrapper,
.friends-wrapper {
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
}

.course-wrapper li .img-holder {
  margin-bottom: 20px;
}
.course-wrapper .img-holder > img:first-of-type {
  width: 100%;
}
.course-wrapper .img-holder > img:last-of-type {
  width: 64px;
  height: 64px;
  border: 2px solid var(--white-color);
  position: absolute;
  top: 20px;
  left: 20px;
}

.course-wrapper li > p {
  line-height: 1.5;
  padding-bottom: 20px;
  padding-left: 15px;
  padding-right: 15px;
}
.course-wrapper li .likes {
  border-top: 1px solid #eee;
  margin-top: 20px;
  padding: 15px;
}
.course-wrapper li .likes span:nth-of-type(1) {
  font-size: 14px;
}
.course-wrapper li .likes span:nth-of-type(2) {
  font-size: 14px;
}
.course-wrapper li .likes span:nth-of-type(3) {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* ? EndCourse Wrapper */
/* ! start Friends Wrapper */

.friends-wrapper .friend {
  padding: 20px;
}
.friends-wrapper .friend .img-holder {
  text-align: center;
  border-bottom: 1px solid #eee;
}
.friends-wrapper .friend .img-holder > img {
  width: 100px;
  height: 100px;
}
.friends-wrapper .friend .img-holder .contact {
  position: absolute;
  top: -11px;
  left: -7px;
}
.friends-wrapper .friend .img-holder .contact > i {
  transition: var(--main-transition);
  cursor: pointer;
}
.friends-wrapper .friend .img-holder .contact > i:hover {
  background-color: var(--blue-color);
  color: var(--white-color);
}

.friends-wrapper .friend .details {
  border-bottom: 1px solid #eee;
}

.friends-wrapper .friend .details .info + span {
  text-transform: uppercase;
  color: #fdecce;
  font-weight: 600;
  font-size: 48px;
}
@media (max-width: 768px) {
  .friends-wrapper > li {
    margin-top: 20px;
  }
  .plan-wrapper > li {
    margin-top: 20px;
  }
}
/* ? End Friends Wrapper */
/* ! Start Projects wrapper */

.projects-wrapper .date {
  position: absolute;
  right: 10px;
  top: 10px;
}

.projects-wrapper .img-holder {
  margin-top: 52px;
  margin-bottom: 10px;
}
.projects-wrapper .img-holder > img {
  width: 40px;
  height: 40px;
  border: 2px solid var(--white-color);
}
.projects-wrapper .img-holder > img {
  margin-right: -20px;
}
.projects-wrapper .tags {
  justify-content: flex-end;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.projects-wrapper .price .bar {
  max-width: 260px;
  height: 8px;
  background-image: linear-gradient(
    to right,
    var(--bg-color),
    var(--bg-color) var(--width),
    #eee var(--width)
  );
}
/* ? End Projects wrapper */
/* ! Start File statistics */
.file-statistics {
  min-width: 260px;
  order: 2;
  height: fit-content;
}

.file-statistics ul li {
  border: 1px solid #eee;
  margin-top: 15px;
}

/* ? End File statistics */
/* ! Start File Wrapper */
.file-wrapper {
  flex: 1;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}

.file-wrapper li i {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 18px;
}
.file-wrapper li .head > img {
  width: 64px;
  height: 64px;
  transition: var(--main-transition);
}
.file-wrapper li:hover .head > img {
  transform: rotate(5deg);
}

.file-wrapper li .head + span {
  text-align: start;
  border-bottom: 1px solid #eee;
}

/* ? End File Wrapper */

.plan-wrapper > li {
  flex: 1;
}
.plan-wrapper > li .head {
  border: 3px solid #fff;
  outline: 3px solid var(--bg-color);
}

.plan-wrapper > li .head h3:last-of-type {
  font-size: 48px;
  font-weight: 600;
}
.plan-wrapper > li .head h3:last-of-type i {
  position: absolute;
  top: 0;
  left: calc(50% - 48px - 20px);
  font-size: 30px;
}

.plan-wrapper > li .details > li {
  border-bottom: 1px solid #eee;
}

.plan-wrapper > li .details > li::before {
  font-family: "Font Awesome 6 Free";
  content: "\f00c";
  font-weight: 600;
  color: var(--green-color);
  position: absolute;
  font-size: 16px;
}
.plan-wrapper > li .details > li.no::before {
  content: "\f00d";
  color: var(--red-color);
}
.plan-wrapper > li .details > li > span {
  margin-left: 25px;
}

.plan-wrapper > li > a {
  display: block;
  width: fit-content;
}
@media (max-width: 768px) {
  .plan-wrapper > li > a {
    margin-left: auto;
    margin-right: auto;
  }
}
/* ! Start Settings page */
/* !Start Toggle checkbox */
.toggle-checkbox {
  -webkit-appearance: none;
  appearance: none;
}
.toggle-switch {
  background: #ccc;
  width: 78px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  transition: var(--main-transition);
  cursor: pointer;
}
.toggle-switch::before {
  font-family: "Font Awesome 6 Free";
  content: "\f00d";
  font-weight: 900;
  font-size: 14px;
  color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  --sz: 24px;
  width: var(--sz);
  height: var(--sz);
  background-color: var(--white-color);
  top: 4px;
  left: 4px;
  border-radius: 50%;
  transition: var(--main-transition);
}
.toggle-checkbox:checked + .toggle-switch {
  background-color: var(--blue-color);
}
.toggle-checkbox:checked + .toggle-switch::before {
  left: calc(100% - var(--sz) - 4px);
  content: "\f00c";
  color: var(--blue-color);
}
.site-control > textarea {
  resize: none;
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border-radius: 6px;
  height: 150px;
  border: 1px solid #ccc;
}

/* ? End Toggle checkbox */
/* ! Start General info*/
.general-info form {
}
.general-info form > label .general-info form > label:nth-of-type(1) {
}
.general-info form > label:nth-of-type(2) {
}
.general-info form > label:nth-of-type(3) {
}
.general-info form > input {
  border: 1px solid #ccc;
}
.general-info form > input:nth-of-type(1) {
}
.general-info form > input:nth-of-type(2) {
}
.general-info form > input:nth-of-type(3) {
  width: calc(100% - 100px);
  cursor: no-drop;
  background-color: #f0f4f8;
}
.general-info form > a {
  font-weight: 500;
  font-size: 16px;
}

/* ? End General info*/
.security-info .option {
  margin-top: 15px;
  padding-bottom: 15px;
}
.security-info .option:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
/* ? End Settings page */
/* ! Start social info */
.social-info > form > div {
  border: 1px solid #ccc;
  background-color: #f6f6f6;
}
.social-info > form > div > input {
  border: none;
  background-color: transparent;
  border-left: 1px solid #ccc;
}

/* ? End social info */
/* ! Start Widget Control */
/* ! Start Backup manager */
.control {
  -webkit-appearance: none;
  appearance: none;
}
.control + label {
  position: relative;
  cursor: pointer;
  padding-left: 20px;
}
.control + label:hover::before {
  border-color: var(--blue-color);
}
.control + label::before,
.control + label::after {
  font-family: "Font Awesome 6 Free";
  content: "";
  font-weight: 900;
  font-size: 14px;
  /*  */
  position: absolute;
  top: 50%;
  left: -8px;
  transform: translateY(-50%);
  transition: var(--main-transition);
}
.control + label::before {
  width: 14px;
  height: 14px;
  border: 2px solid #888;
  border-radius: 4px;
}
.control + label::after {
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateY(-50%) scale(0) rotate(360deg);
  background-color: var(--blue-color);
  color: var(--white-color);
}
.control:checked + label::after {
  content: "\f00c";
  transform: translateY(-50%) scale(1);
  border-radius: 4px;
}

.control[type="radio"] + label::before {
  border-radius: 50%;
  width: 18px;
  height: 18px;
}
.control[type="radio"] + label::after {
  border-radius: 50%;
  left: -4px;
  width: 14px;
  height: 14px;
}
.control[type="radio"]:checked + label::after {
  content: "";
}
.control[type="radio"]:checked + label::before {
  border-color: var(--blue-color);
}
.backup-manager > ul {
  padding-bottom: 20px;

  border-bottom: 1px solid #eee;
}

.servers input {
  -webkit-appearance: none;
  appearance: none;
}
.server {
  flex: 1;
  border: 1px solid #eee;
  border-radius: 6px;

  transition: var(--main-transition);
}
.server label {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
}
.server label i {
  font-size: 16px;
}
.server label span {
  font-size: 16px;
}
.servers input:checked + .server {
  color: var(--blue-color);
  border-color: var(--blue-color);
}

/* ? End Backup manager */
/* Start Profile Page */
/* ! Start Personal info */
.personal-info {
}
.personal-info .user {
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}
@media (max-width: 767px) {
  .personal-info .user {
    border: none;
  }
}
.personal-info .user > img {
  width: 120px;
  height: 120px;
}
.personal-info .user > h3 {
}
.personal-info .user .bar {
  margin-top: 15px;
  width: 33%;
  height: 7px;
  border-radius: 6px;
  background-image: linear-gradient(
    to right,
    var(--blue-color),
    var(--blue-color) 80%,
    #eee 80%
  );
}
.personal-info .user .stars {
  margin-top: 15px;
}
.personal-info .user .stars > i {
  margin-right: 3px;
}
.personal-info .user .stars .level {
}
.personal-info .user .stars .rating-num {
}
/* ! Start general info */
.general-info {
  flex: 1;
}
.general-info .toggle {
  margin-top: 10px;
}
.infos {
  flex-wrap: wrap;
  flex: 1;
  gap: 30px;
  padding-bottom: 15px;
  margin-bottom: 10px;
  border-bottom: 1px solid #eee;
}
@media (max-width: 430px) {
  .infos .info > span:last-of-type {
    font-size: 13px;
  }
  .infos .info > span:first-of-type {
    font-size: 14px;
  }
}

.toggle .toggle-switch {
  height: 20px;
}
.toggle .toggle-switch::before {
  font-size: 10px;
  --sz: 14px;
  width: var(--sz);
  height: var(--sz);
  top: 3px;
}

/* ? End general info */
/* ! Start my-skills */
.skill-row {
  padding-bottom: 15px;
  margin-top: 10px;
}
.skill-row:not(:last-of-type) {
  border-bottom: 1px solid #eee;
}
.skill-row span {
  display: inline-block;
  margin-top: 5px;
}
/* ? End my-skills */
/* ! start Latest activities */
.latest-activites {
  flex: 1;
}
.latest-activites .news {
}
.latest-activites .news .single-news {
}
.latest-activites .news .single-news {
}
.latest-activites .news .single-news .details > img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}
/* ? End Latest activities */
