@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*! Start Global Rules */
body {
  font-family: "Open Sans", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
*:focus {
  outline: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--blue-color);
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--blue-alt-color);
}
::-webkit-scrollbar-track {
  background-color: var(--white-color);
}
/*? End Global Rules */
/* ! Start Global Variables */
:root {
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --white-color: #fff;
  --main-transition: 0.3s;
  --main-text-color: #000;
}
/* ? End Global Variables */
/* ! Start Components */
/* ? End Components */
/* ! Start Page*/
.page {
  min-height: 100vh;
}
/* ? End Page */
/* ! Start Aside */
aside {
  width: 250px;
  box-shadow: 0 0 10px #ddd;
}
@media (max-width: 767px) {
  aside.sidebar {
    padding: 10px;
    text-align: center;
    width: 58px;
  }
}
aside .special-heading {
  font-size: 20px;
  text-align: center;
  margin-bottom: 50px;
}
aside .special-heading::before {
  content: "";
  width: 75px;
  height: 2px;
  position: absolute;
  background-color: var(--main-text-color);
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
aside .special-heading::after {
  --dis: 12px;
  content: "";
  width: var(--dis);
  height: var(--dis);
  border-radius: 50%;
  position: absolute;
  bottom: -29px;
  transform: translateX(-50%);
  border: 4px solid #fff;
  left: 50%;
  background-color: var(--main-text-color);
}
@media (max-width: 767px) {
  aside .special-heading::after,
  aside .special-heading::before {
    display: none;
  }
  aside .special-heading {
    font-size: 13px;
    margin-bottom: 15px;
  }
}
aside > ul li a {
  display: block;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 6px;
  transition: var(--main-transition);
}
aside > ul li a i {
  color: var(--main-text-color);
}
aside > ul li a span {
  text-transform: capitalize;
  margin-left: 10px;
}

aside > ul li a:hover,
.cur-page {
  background-color: #f6f6f6;
}
/* ? End Aside */
/* !Start Content */
.content {
  background-color: #333;
}
/* ! Start Navbar */
.content nav .search input[type="search"] {
  width: 160px;
  height: 40px;
  margin-left: 5px;
  padding-left: 30px; /*for icon*/

  border: none;
  border: 1px solid #cccccc;
  overflow: hidden;
  transition: var(--main-transition);
}
.content nav .search > i {
  color: #888888;
  position: absolute;
  font-size: 16px;
  top: 50%;
  transform: translateY(-50%);
  left: 13px;
  font-weight: bolder;
}
.content nav .search input[type="search"]:focus {
  width: 200px;
}
.content nav .search input[type="search"]:focus::placeholder {
  color: transparent;
}

.content nav .rhs .bell::after {
  content: "";
  position: absolute;
  top: -5px;
  right: -5px;
  --sz: 10px;
  width: var(--sz);
  height: var(--sz);
  border-radius: 50%;
  background-color: #f44336;
}
.content nav .rhs img {
  --sz: 40px;
  width: var(--sz);
  height: var(--sz);
}
/* ? End Navbar */
.content {
  background-color: #f1f5f9;
}
.content > .main-title {
  font-weight: 600;
}
.content > .main-title::after {
  content: "";
  position: absolute;
  width: 117px;
  height: 3px;
  background-image: linear-gradient(
    to right,
    var(--main-text-color),
    var(--main-text-color) 35%,
    #fff 20%
  );
  bottom: 0;
  left: 21px;
}
/* ! Start Grid */
.wrapper {
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
}
/* !Start Welcome Widget */

.wrapper .box-content > img {
  --sz: 64px;
  width: var(--sz);
  height: var(--sz);
  border: 4px solid var(--white-color);

  position: absolute;
  top: -32px;
  left: 20px;
}
@media (max-width: 768px) {
  .wrapper .box-content > img {
    top: -32px;
    left: 50%;
    transform: translateX(-50%);
  }
}
.wrapper .welcome .openning > img {
  width: 200px;
}
.wrapper .welcome .table {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
.wrapper .welcome .table > div {
  flex: 1;
}

/* * [Mistake-1] I've Used before and after to make border 😅 😅 😅 */
/* .wrapper .welcome .table::before,
.wrapper .welcome .table::after{
  content: "";
  width: 100%;
  height: 1px;
  position: absolute;
  background-color: #eeeeee;
  left: 0;
} */
/* .wrapper .welcome .table::before{top: 0;}
.wrapper .welcome .table::after{bottom: 0;} */
@media (max-width: 767px) {
  .wrapper .welcome .table > div:not(:last-child) {
    margin-bottom: 20px;
  }
  .wrapper .welcome {
    padding-bottom: 20px;
  }
}

.wrapper .welcome .profile-link {
  align-self: self-end;
  text-align: end;
  /* width: fit-content; */
  margin-right: 20px;
  background-color: var(--blue-color);
  color: var(--white-color);
}
.wrapper .welcome .profile-link:hover {
  background-color: var(--blue-alt-color);
}
/* ?End Welcome Widget */
/* !Start Quick Draft */
.quick-draft > form textarea {
  min-height: 180px;
}
.quick-draft > form + a {
  margin-left: auto;
}
.quick-draft > form + a:hover {
  background-color: var(--blue-alt-color);
}
/* ?End Quick Draft */
/* ! Start Yearly targets */

.yearly-target .targets .target .icon {
  width: 80px;
  height: 80px;
  background-color: var(--bg-color);
  color: var(--c-color);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.yearly-target .targets .target-content {
  flex: 1;
}

.yearly-target .targets .target-content p:last-of-type {
  font-weight: bold;
  font-size: 18px;
}
.yearly-target .targets .target-content .progress {
  background-image: linear-gradient(
    to right,
    var(--c-color),
    var(--c-color) var(--width),
    var(--bg-color) var(--width)
  );
  width: 100%;
  height: 5px;
  margin-top: 10px;
  position: relative;
}
.yearly-target .targets .target-content .progress::before {
  content: attr(data-progress);
  position: absolute;
  top: -34px;
  left: calc(var(--width));
  transform: translateX(-50%);
  background: var(--c-color);
  color: var(--white-color);
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 14px;
}

.yearly-target .targets .target-content .progress::after {
  content: "";
  /* background-color: var(--c-color); */
  position: absolute;
  top: -12px;
  left: calc(var(--width) - 0px);
  transform: translateX(-50%);
  width: 0;
  height: 0;
  border: 7px solid transparent;
  border-top-color: var(--c-color);
}
/* ? End Yearly targets */
/* ! Start Tickets Statistics */

.ticket-statistics .tickets .ticket {
  width: calc(50% - 20px);
  border: 1px solid #ccc;
}
.ticket-statistics .ticket > i {
  font-size: 27px;
}
.ticket-statistics .ticket > h2 {
  font-size: 27px;
  font-weight: 600;
}
.ticket-statistics .ticket > p {
  font-size: 16px;
}
@media (max-width: 767px) {
  .ticket-statistics .tickets .ticket {
    width: 100%;
  }
}
/* ? EndTickets Statistics */
/* ! Start latest news */
.latest-news{}
.latest-news .news{}
.latest-news .news .single-news{
  align-items: center;
}
.latest-news .news .single-news:not(:last-child){
  border-bottom: 1px solid #eeeeee;
}
.latest-news .single-news .details{}
.latest-news .single-news .details > img{
  width: 100px;
  height: 50px;
  border-radius: 6px;

}
.latest-news .single-news .details .text{}
.latest-news .single-news .details .text p:first-of-type{}
.latest-news .single-news .details .text p:last-of-type{}
.latest-news .single-news .date{
  font-size: 13px;
}
/* ? End latest news */

/* ? End Grid */
/* ? End Content */
